@media only screen and (max-width:1065px){
    main > .container> .row >.hm-col-3{
        display: none;
    }
    main .wrapper-blog .hm-col-3{
        /* display: inline-block; */
    }
    main > .container> .row > .hm-col-9{
        width: 100%;
    }
    .banner{
        display: none;
    }
}
@media only screen and (max-width:880px){
    footer .row > *{
        width: 100%;
    }
    footer .hm-col-9 h3{
        font-size: 16px;
    }
    .hm-column-4 .item{
        width: 33.3333%;
    }
    .hm-column-4 .item:not(:nth-child(-n + 3)) {
        margin-top: 30px;
    }
    .hm-column-4 .item:not(:nth-child(-n + 6)) {
        display: none;
    }
    .hm-col-6{
        width: 100%;
    }
    header .hm-col-6{
        width: 50%;
    }
}
@media only screen and (max-width:700px){
    .wrapper-blog .blog .hm-col-9{
        width: 100%;
    }
    .wrapper-blog .blog .hm-col-3{
        width: 40%
    }
}
@media only screen and (max-width:600px){
    .hm-column-4 .item{
        width: 50%;
    }
    .hm-column-4 .item:not(:nth-child(-n + 2)) {
        margin-top: 30px;
    }
    .hm-column-4 .item:not(:nth-child(-n + 4)) {
        display: none;
    }
    
    .top-header > *{
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }
    .wrapper-blog .blog .hm-col-3,
    .wrapper-blog .blog .hm-col-9{
        width: 100%;
    }
}
@media only screen and (max-width:450px){
    .hm-column-4 .item{
        width: 100%;
    }
    .hm-column-4 .item:not(:nth-child(-n + 1)) {
        margin-top: 30px;
    }
    .hm-column-4 .item:not(:nth-child(-n + 2)) {
        display: none;
    }
}